.board-section {
    position: relative;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.board {
    background-color: green;
    min-width: 64px;
    min-height: 64px;
    max-height: 1000px;
    max-width: 1000px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 4 columns */
    grid-template-rows: repeat(8, 1fr);
}

.board.flipped {
  transform: rotate(180deg);
}

.board.flipped canvas {
  transform: rotate(180deg);
}

.board.flipped .locationy {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
}

.board.flipped .locationx {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    bottom: auto;
    right: auto;
    left: 0;
}

.S1 {
    position: relative;
    background-color: rgb(60, 58, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.S1 p {
    z-index: 1001;
    color: white;
}

.S2 {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.S2 p {
    z-index: 1001;
    color: black;
}

.hov {
    background-color: gray;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    transition: opacity 0.1s;
}

.select {
    background-color: rgb(255, 222, 36);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    transition: opacity 0.1s;
}

.selected .select {
    opacity: 0.5;
}

.moves .hov {
    opacity: 0.6;
}

.piece {
    position: absolute;
    width: 90%;
    height: 90%;
}

.locationy {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}

.locationx {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}

@media (max-width: 630px) {
    .locationx {
        font-size: 18px;
    }
    .locationy {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .locationx {
        font-size: 12px;
    }
    .locationy {
        font-size: 12px;
    }
}
