.board-section {
    position: relative;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.board {
    background-color: green;
    min-width: 64px;
    min-height: 64px;
    max-height: 1000px;
    max-width: 1000px;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 4 columns */
    grid-template-rows: repeat(8, 1fr);
}

.S1 {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.S2 {
    position: relative;
    background-color: rgb(60, 58, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hov {
    background-color: gray;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    transition: opacity 0.1s;
}

.select {
    background-color: rgb(255, 222, 36);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    transition: opacity 0.1s;
}

/* .S1:hover .hov {
    opacity: .5;
}

.S2:hover .hov {
    opacity: .5;
} */

.selected .select {
    opacity: 0.5;
}

.moves .hov {
    opacity: 0.5;
}

/* .S1:hover .select {
    opacity: .5;
}

.S2:hover .select {
    opacity: .5;
} */

.piece {
    position: absolute;
    width: 100%;
    height: 100%;
}
